RewriteEngine On

RewriteRule ^register.php$ views/register.php
RewriteRule ^register$ views/register.php

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^(.*)$ index.php
RewriteRule ^index$ index.php


