/* Page login.php */
header nav h1 {
	color: white;
}
header {
	padding-top: 150px;
}
#link_login_index {
	margin-left: -115px;
}
#bouton_submit_login {
	padding-left: 20px;
	padding-right: 20px;
	font-size: 1.1em;
}
/* Encadré du formulaire */ 
.fieldset_login {
	border: 1px solid grey;
	border-radius: 5px;
	padding: 5px 25px 15px 25px;
	margin-bottom: 15px;
}
/* Page user.php */
#content_header {
	display: flex;
	justify-content: space-between;
	align-content: flex-end;
	width: 100%;
}
#paragraph_header {
	margin-top: 15px;
	color: white;
}
#paragraph_header:hover {
	color: #fdd835;
	text-decoration: none;
}
#card_user_vedette {
	margin-bottom: 50px;
}
#card_header_user_title_billet {
	font-size: 1.5em;
}
#card_user {
	margin-bottom: 50px;
}
/* Page user_comments.php */
#paragraph_header_user_comments:hover {
	font-weight: bold;
	text-decoration: none;
}
#paragraph_header_user_comments {
	margin-top: 15px;
	color: white;
}

/* Page register.php */
#link_register_index {
	margin-left: 40px;
}
#content_header_register {
	display: flex;
	justify-content: space-between;
	align-content: flex-end;
	width: 100%;
}
#paragraph_header_register {
	margin-top: 15px;
	color: white;
}
#paragraph_header_register:hover {
	font-weight: bold;
	text-decoration: none;
}
#error_register {
	color: red;
	font-weight: bold;
	text-align: center;
}
/* Encadré du formulaire et son titre */ 
.fieldset_register {
	border: 1px solid grey;
	border-radius: 5px;
	padding: 5px 25px 15px 25px;
}
#title_form_register {
	margin-bottom: 15px;
	margin-top: -10px;
}
/* Les formulaires de saisies */ 
.form_style {
	color: rebeccapurple;
}
/* Page admin2.php  */
/* Pour enlever la bannière commerciale dans le textarea du TinyMCE  */
#mceu_30 {
	display: none;
}
/* Page admin.php  */
/* Stylisation des boutons d'actions  */
a.font-weight-light.badge.badge-danger, a.font-weight-light.badge.badge-info, a.font-weight-light.badge.badge-warning {
	font-size: 1em;
	color: white;

}
a.font-weight-light.badge.badge-danger:hover, a.font-weight-light.badge.badge-info:hover, a.font-weight-light.badge.badge-warning:hover {
	
	color: hsl(0, 0%, 0%);
	
}

/* RESPONSIVITE  */
@media (min-width: 300px) and (max-width: 992px) {
	
	.navbar-brand {
		flex-direction: column;
	}
	header h1 {
		display: inline-flex;
		overflow-wrap: break-word;
		font-size: xx-large;
		
	}
	header a {
		overflow-wrap: break-word;
		font-size: medium;
		width: auto;
	}
	.fieldset_login, form, h3, #card_user_vedette, .card, #readingBillets  {
		margin-top: 60px;
	}
	.font-weight-normal {
		font-size: 100%;
	}
	#link_login_index {
		margin-left: 5px;
	}


}

