/* Page login.php */
header nav h1 {
	color: white;
}
header {
	padding-top: 150px;
}
/* Page user.php */
#content_header {
	display: flex;
	justify-content: space-between;
	align-content: flex-end;
	width: 100%;
}
#paragraph_header {
	margin-top: 15px;
	color: white;
}
#paragraph_header:hover {
	font-weight: bold;
	text-decoration: none;
}
#card_user_vedette {
	margin-bottom: 50px;
}
#card_header_user_title_billet {
	font-size: 1.5em;
}
#card_user {
	margin-bottom: 50px;
}
/* Page user_comments.php */
#paragraph_header_user_comments:hover {
	font-weight: bold;
	text-decoration: none;
}
#paragraph_header_user_comments {
	margin-top: 15px;
	color: white;
}
/* Page register.php */
#content_header_register {
	display: flex;
	justify-content: space-between;
	align-content: flex-end;
	width: 100%;
}
#paragraph_header_register {
	margin-top: 15px;
	color: white;
}
#paragraph_header_register:hover {
	font-weight: bold;
	text-decoration: none;
}
#error_register {
	color: red;
	font-weight: bold;
	text-align: center;
}